<template>
	<div>
		<div v-if="showHeader">
			{{ label }}
			<slot></slot>
		</div>
		<div v-else class="no-header">
			{{ label }}
			<div class="section">
				<font-awesome-icon icon="question-circle" v-tooltip="tooltip" />
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		showHeader: {
			type: Boolean,
			default: true,
		},
		label: {
			type: String,
			default: '',
		},
	},
	computed: {
		tooltip() {
			return this.label
		}
	}
}
</script>
