<template>
	<span>
		<span class="icon has-text-success" v-if="value === 'yes'">
			<font-awesome-icon icon="check-square" />
		</span>
		<span class="icon has-text-danger" v-if="value === 'no'">
			<font-awesome-icon icon="ban" />
		</span>
		<span class="icon has-text-grey-lighter" v-if="!['yes', 'no'].includes(value)">
			<font-awesome-icon icon="question-circle" />
			{{ value }}
		</span>
		<span v-if="showValue === true">
			{{ value }}
		</span>
	</span>
</template>

<script>
export default {
	props: {
		value: {
			type: String,
			default: '',
		},
		showValue: {
			type: Boolean,
			default: false,
		}
	},
}
</script>
