<template>
	<div id="app">
		<b-loading :is-full-page="isFullPage" :active="isLoading" :can-cancel="true" />

		<section class="hero" :style="showHeader ? { 'height': '80px' } : { 'height': '50px' }">
			<div class="hero-body" style="padding: 0; margin-left: -9.75px; background-color: #277AFF;">
				<div style="padding: 0;">
					<div class="columns data-types is-gapless">
						<!-- TITLE -->
						<div class="column">
							<div class="columns" v-if="showHeader">
								<div class="column header">
									<img src="@/assets/images/2020.05_GIGA-visual-identity-guidelines_v1-21-300x168.png" style="height: 60px; width: auto;">
									<span style="font-size: 18px; color: white; padding-left: 10px;"> | technical test</span>
									<div class="header">
										<div class="filter-by">
											filter:
										</div>
										<div class="control has-icons-left">
											<div class="select is-rounded">
												<select @change="filterData('country_name', $event)" v-model="filterCountry">
													<option selected value="">Country</option>
													<option v-for="country in getCountries" :key="country" :value="country">
														{{ country }}
													</option>
												</select>
											</div>
											<div class="icon is-small is-left">
												<i class="fas fa-globe"></i>
												<font-awesome-icon icon="globe" />
											</div>
										</div>
										<div class="download">
											download:
										</div>
										<div class="download-types">
											<div class="columns footnote" style="padding: 0">
												<div class="column has-text-left is-2">
													<div style="white-space: nowrap;">
														<span style="cursor: pointer;" @click="downloadCsv()">
															<font-awesome-icon icon='file-csv' style="margin-right: 10px;"/>CSV
														</span>

														<span style="cursor: pointer;" @click="downloadXlsx()">
															<font-awesome-icon icon='file-excel' style="margin-right: 10px; margin-left: 15px;"/>XLSX
														</span>

														<span style="cursor: pointer;" @click="downloadPdf()">
															<font-awesome-icon icon='file-pdf' style="margin-right: 10px; margin-left: 15px;"/>PDF
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="download-types">
											<div class="columns footnote" style="padding: 0">
												<div class="column has-text-left is-2">
													<div style="white-space: nowrap;">
														<span style="cursor: pointer;" @click="expandCollapseScrollTable()">
															<font-awesome-icon :icon="isScrollTableExpand ? 'compress' : 'expand'" style="margin-left: 30px;" v-tooltip.right="isScrollTableExpand ? 'show map' : 'hide map'"/>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- TABLET/DESKTOP : START -->
		<div class="desktop columns is-hidden-mobile" :class="{ 'is-hidden': hideTable }">
			<splitpanes class="default-theme" @resized="splitPaneResized">
				<pane :size="isScrollTableExpand ? '100%' : '50%'">
					<div class="scrolling-container">
						<vue-scrolling-table>
							<template slot="thead">
								<tr>
									<th key="a">Country</th>
									<th key="b">Camp</th>
									<th key="c">School</th>

									<template>
										<th key="d" class="balanced">
											<HeaderCell label="Download (Mbps)" />
										</th>
										<th key="e" class="balanced">
											<HeaderCell label="Upload (Mbps)" />
										</th>
										<th key="f" class="balanced">
											<HeaderCell label="Latency (ms)" />
										</th>
										<th key="g" class="balanced">
											<HeaderCell label="Packet loss (%)" />
										</th>
										<th key="h" class="balanced">
											<HeaderCell label="Jitter (ms)" />
										</th>
										<th key="i" class="balanced">
											<HeaderCell label="Number of students" />
										</th>
										<th key="j" class="balanced">
											<HeaderCell label="Online" />
										</th>
										<th key="k" class="balanced">
											<HeaderCell label="Last measurement" />
										</th>
									</template>
								</tr>
							</template>
							<template slot="tbody">
								<tr v-for="(row, index) in data" :key="index">
									<td key="a" style="background-color: #fff; width: 150px;">
										<div class="columns">
											<div class="column is-two-thirds">
												<a href="#" @click.prevent="showMapCountry(row.country_iso)">
													{{ row.country_name }}
												</a>
											</div>
											<div class="column has-text-right">
												<country-flag :country="getCountryISO(row.country_iso)" />
											</div>
										</div>
									</td>
									<td key="b" style="background-color: #fff;">
										{{ row.camp_name }}
									</td>
									<td key="c">
										<span v-if="row.lat !== undefined">
											<a href="#" @click.prevent="showMapPopup(row, 13)">
												{{ row.hcf_name.replace(/(health (post|centre|center)|HC)/gi, 'School') }}
											</a>
										</span>
										<span v-else>
											{{ row.hcf_name.replace(/(health (post|centre|center)|HC)/gi, 'School') }}
										</span>
									</td>

									<template>
										<td key="d" style="text-align: right; padding-right: 20px;">
											{{ faker.finance.amount(5, 100, 1) }}
										</td>
										<td key="e" style="text-align: right; padding-right: 20px;">
											{{ faker.finance.amount(1, 20, 1) }}
										</td>
										<td key="f" style="text-align: right; padding-right: 20px;">
											{{ faker.finance.amount(5, 50, 0) }}
										</td>
										<td key="g" style="text-align: right; padding-right: 20px;">
											{{ faker.finance.amount(0, 10, 0) }}
										</td>
										<td key="h" style="text-align: right; padding-right: 20px;">
											{{ faker.finance.amount(0, 10, 0) }}
										</td>
										<td key="i" style="text-align: right; padding-right: 20px;">
											{{ faker.finance.amount(10, 500, 0) }}
										</td>
										<td key="j" class="icon-yes-no">
											<IconYesNo :value="row.bs_gender_separated" />
										</td>
										<td key="k">
											<span v-if="row.bs_survey_date">
												{{ row.bs_survey_date }} {{ randomTime() }}
											</span>
											<span v-else>
												<IconYesNo :value="row.bs_survey_date" />
											</span>
										</td>
									</template>
								</tr>
							</template>
						</vue-scrolling-table>
					</div>
				</pane>
				<pane :size="isScrollTableExpand ? '0%' : '50%'">
					<splitpanes horizontal :dbl-click-splitter="false">
						<pane>
							<div class="map-container">
								<l-map ref="map" :options="{
									center: [6.611111, 20.939444],
									zoom: 3,
									maxZoom: 21,
									attributionControl: false,
								}">
									<l-tilelayer url="https://b.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png" />
									<!-- eslint-disable-next-line -->
									<l-control-attribution position="bottomright" prefix='
										<div class="btn btn-primary tooltip">
											Credits
											<div class="left">
												&copy; OpenStreetMap, Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN,
												GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community
											</div>
										</div>
										'/>
									<l-control-fullscreen position="topleft" />
									<l-marker-cluster v-if="data" :options="{
										showCoverageOnHover: false,
										spiderLegPolylineOptions: false,
										disableClusteringAtZoom: 6,
										spiderfyOnMaxZoom: false
									}">
										<l-marker v-for="row in data.filter(row => row.lat !== undefined)" :key="row.hcf_id" :ref="row.hcf_id" :lat-lng="[row.lat, row.lon]">
											<l-popup :options="{
												maxHeight: 425,
											}">
												<div class="health-care-facility-popup">
													<!-- HEADER : START -->
													<div class="columns" style="padding-top: 7px;">
														<div class="column is-9">
															<div class="hero-body">
																<div class="container">
																	<h5 class="title is-5">
																		{{ row.hcf_name.replace(/(health (post|centre|center)|HC)/gi, 'School') }}
																	</h5>
																	<h6 class="subtitle is-6">
																		{{ row.camp_name }}, {{ row.country_name }}
																	</h6>
																</div>
															</div>
														</div>
														<div class="column is-3 has-text-right">
															<country-flag :country="getCountryISO(row.country_iso)" size='big' />
														</div>
													</div>
													<!-- HEADER : END -->

													<!-- DATA : START -->
													<b-tabs>
														<b-tab-item label="Metrics">
															<table class="table">
																<tbody>
																	<tr>
																		<td>Download (Mbps)</td>
																		<td>
																			<div>{{ faker.finance.amount(5, 100, 1) }}</div>
																		</td>
																	</tr>
																	<tr>
																		<td>Upload (Mbps)</td>
																		<td>
																			<div>{{ faker.finance.amount(1, 20, 1) }}</div>
																		</td>
																	</tr>
																	<tr>
																		<td>Latency (ms)</td>
																		<td>
																			<div>{{ faker.finance.amount(5, 50, 0) }}</div>
																		</td>
																	</tr>
																	<tr>
																		<td>Packet loss (%)</td>
																		<td>
																			<div>{{ faker.finance.amount(0, 10, 0) }}</div>
																		</td>
																	</tr>
																	<tr>
																		<td>Jitter (ms)</td>
																		<td>
																			<div>{{ faker.finance.amount(0, 10, 0) }}</div>
																		</td>
																	</tr>
																	<tr>
																		<td>Number of students</td>
																		<td>
																			<div>{{ faker.finance.amount(10, 500, 0) }}</div>
																		</td>
																	</tr>
																	<tr>
																		<td>Online</td>
																		<td>
																			<IconYesNo :value="row.bs_gender_separated" />
																		</td>
																	</tr>
																	<tr>
																		<td>Last measurement</td>
																		<td>
																			<span v-if="row.bs_survey_date">
																				{{ row.bs_survey_date}} {{ randomTime() }}
																			</span>
																			<span v-else>
																				<IconYesNo :value="row.bs_survey_date" />
																			</span>
																		</td>
																	</tr>
																</tbody>
															</table>
														</b-tab-item>
														<b-tab-item label="Chart">
															<div style="height: 235px;">
																<img src="@/assets/images/chart.png">
															</div>
														</b-tab-item>
													</b-tabs>
													<!-- DATA : END -->
												</div>
											</l-popup>
										</l-marker>
									</l-marker-cluster>
								</l-map>
							</div>
						</pane>
					</splitpanes>
				</pane>
			</splitpanes>
		</div>
		<!-- TABLET/DESKTOP : END -->
	</div>
</template>

<script>
import format from 'date-fns/format'
import getCountryISO2 from 'country-iso-3-to-2'
import { saveAs } from 'file-saver'
import XLSX from 'xlsx'
import jsPDF from 'jspdf'
import 'jspdf-autotable'
import { Splitpanes, Pane } from 'splitpanes'
import 'splitpanes/dist/splitpanes.css'

// map (leaflet) imports
import L from 'leaflet'
import {
	LMap,
	LMarker,
	LTileLayer,
	LPopup,
	LControlAttribution,
} from 'vue2-leaflet'
import LControlFullscreen from 'vue2-leaflet-fullscreen'
import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
import 'leaflet/dist/leaflet.css'

// import IconInfoTableHeader from '@/components/IconInfoTableHeader.vue'
import IconYesNo from '@/components/IconYesNo.vue'
import HeaderCell from '@/components/HeaderCell.vue'

export default {
	name: 'App',
	fields: {
		bs: {
			'gstart/xID_final': 'hcf_id',
			'gFaciInfra1/watAvail': 'bs_water_available',
			'gFaciInfra1/handwashAvailTod': 'bs_handwash',
			'gFaciInfra1/sanitationAvail': 'bs_sanitation',
			'gFaciInfra2/showers': 'bs_showers',
			'gFaciInfra1/toiletAvail': 'bs_toilet_available',
			'gFaciInfra2/genderLat': 'bs_gender_separated',
			'gFaciInfra2/childLat': 'bs_child_friendly',
			'gFaciInfra2/lattrinesTyp': 'bs_latrine_types',
			surveyDate: 'bs_survey_date',
		},
		ec: {
			'gstart/xID_final': 'hcf_id',
			'water_group/water_improved_group/water_improved': 'ec_water_improved',
			'water_group/water_available_group/water_available': 'ec_water_available',
			'water_group/water_storage_group/water_storage': 'ec_water_storage',
			'water_group/water_accessible_group/water_accessible': 'ec_water_accessible',

			'sanitation_group/toilets_outpatient_group/toilets_outpatient': 'ec_toilets_outpatient',
			'sanitation_group/toilets_inpatient_group/toilets_inpatient': 'ec_toilets_inpatient',
			'sanitation_group/toilets_mh_group/toilets_mh': 'ec_toilets_mh',
			'sanitation_group/toilets_mobility_group/toilets_mobility': 'ec_toilets_mobility',

			'hygiene_group/hygiene_poc_group/hygiene_poc': 'ec_hygiene_poc',
			'hygiene_group/hygiene_toilet_group/hygiene_toilet': 'ec_hygiene_toilet',

			'waste_group/waste_segregation_group/waste_segregation': 'ec_hygiene_poc',
			'waste_group/waste_infectious_group/waste_infectious': 'ec_waste_infectious',
			'waste_group/waste_sharp_group/waste_sharp': 'ec_waste_sharp',

			'environmental_group/cleaning_protocols_group/cleaning_protocols': 'ec_cleaning_protocols',
			'environmental_group/cleaning_training_group/cleaning_training': 'ec_cleaning_training',

			'energy_group/electricity_source': 'ec_electricity_source',
			'energy_group/electricity_medical_devices': 'ec_electricity_medical_devices',
			'energy_group/electricity_stand_alone': 'ec_electricity_stand_alone',
			'energy_group/electricity_use': 'ec_electricity_use',
			'energy_group/electricity_secondary': 'ec_electricity_secondary',
			'energy_group/electricity_generator': 'ec_electricity_generator',
			'energy_group/electricity_reliable': 'ec_electricity_reliable',

			surveyDate: 'ec_survey_date',
		}
	},
	month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
	data() {
		return {
			hideTable: true,
			isLoading: true,
			isFullPage: true,
			data: [],
			dataOriginal: [],
			selected: null,
			filterCountry: '',
			viewType: 'all',
			notification: null,

			// show / hide header
			showHeader: true,

			// geo data (name, ISO, centroid (lat/lng), region)
			geo: null,

			// scroll table (expand / collapse)
			isScrollTableExpand: false,

			faker: null,
		}
	},
	components: {
		HeaderCell,
		// IconInfoTableHeader,
		IconYesNo,
		'l-map': LMap,
		'l-tilelayer': LTileLayer,
		LMarker,
		'l-marker-cluster': Vue2LeafletMarkerCluster,
		LPopup,
		LControlAttribution,
		LControlFullscreen,
		Splitpanes,
		Pane
	},
	computed: {
		getCountries() {
			return [...new Set(this.dataOriginal.map(row => row.country_name))].sort()
		},
	},
	methods: {
		getCountryISO(iso3) {
			return getCountryISO2(iso3)
		},
		/**
		 * @param items An array of items.
		 * @param fn A function that accepts an item from the array and returns a promise.
		 * @returns {Promise}
		 */
		forEachPromise(items, fn, context) {
			return items.reduce((promise, item) => {
				return promise.then(() => {
					return fn(item, context)
				})
			}, Promise.resolve())
		},
		writeFileFormType(formType, context) {
			return new Promise(resolve => {
				process.nextTick(() => {
					fetch(`${context.url}/${formType.id}.json`)
						.then(res => res.json())
						.then(json => {
							const data = Object.create(null)

							json.forEach(row => {
								if ('gstart/xID_final' in row && row['gstart/xID_final'] in data) {
									const surveyDate = new Date(data[row['gstart/xID_final']].survey_date).getTime() / 1000
									const rowSurveyDate = new Date(row.surveyDate).getTime() / 1000
									const rowSubmissionTime = new Date(row._submission_time).getTime() / 1000 // eslint-disable-line

									// get most recent survey row
									if ((rowSurveyDate > surveyDate)
										|| (surveyDate === rowSurveyDate && rowSubmissionTime > surveyDate)) {
										data[row['gstart/xID_final']] = this.getFilteredRow(formType.type, row)
									}
								} else {
									// set initial row value
									data[row['gstart/xID_final']] = this.getFilteredRow(formType.type, row)
								}

								// add to hcf array
								// eslint-disable-next-line
								context.hcf[row['gstart/xID_final']] = {
									hcf_id: row['gstart/xID_final'],
									hcf_name: row['gstart/xhf_final'],
									camp_id: row['gstart/xpcode_final'],
									camp_name: row['gstart/xsite_final'],
									country_name: row['gstart/xcountry_final'],
									country_iso: row['gstart/xiso_final'],
								}
							})

							// remove key from data array
							const dataNoKey = []
							Object.keys(data).forEach(key => dataNoKey.push(data[key]))

							// eslint-disable-next-line
							context.rows[formType.type] = dataNoKey

							// promise
							resolve()
						})
				})
			})
		},
		getFilterCountry() {
			return this.filterCountry
		},
		getFilteredRow(formType, row) {
			// clone object
			const data = JSON.parse(JSON.stringify(row))
			const dataFields = this.$options.fields
			const fields = dataFields

			// remove unrequired keys/fields
			Object.keys(data).forEach(key => {
				if (!Object.keys(fields[formType]).includes(key)) {
					delete data[key]
				}
			})

			// rename keys
			Object.keys(fields[formType]).forEach(key => {
				if (!(key in data)) {
					data[fields[formType][key]] = null
				} else {
					data[fields[formType][key]] = data[key]
					delete data[key]
				}
			})

			return data
		},
		// drop down filter
		filterData(type, event) {
			if (typeof event.target.value === 'string' && event.target.value !== '') {
				this.data = this.dataOriginal.filter(row => row[type] === event.target.value)
				const country = this.geo.filter(row => row.name === event.target.value)

				// zoom in on country
				if (country.length === 1 && country[0].lat !== null && country[0].lon) {
					this.showMapCountry(country[0].iso3_code)
				}
			} else {
				this.data = this.dataOriginal
			}
		},
		downloadPdf() {
			this.download('pdf')
		},
		downloadCsv() {
			this.download('csv')
		},
		downloadXlsx() {
			this.download('xlsx')
		},
		download(downloadType) {
			const filename = `giga_connect_technical_test_${format(new Date(), 'dd_MMMM_yyyy')}.${downloadType}`
			const rows = []
			let header = ['Country', 'Camp', 'School']

			if (['all', 'balanced_scorecard'].includes(this.viewType)) {
				header = header.concat([
					'Download (Mbps)',
					'Upload (Mbps)',
					'Latency (ms)',
					'Packet loss (%)',
					'Jitter (ms)',
					'Number of students',
					'Online',
					'Last measurement',
				])
			}

			if (downloadType !== 'pdf') {
				rows.push(header)
			}

			this.data.forEach(obj => {
				let row = [
					obj.country_name,
					obj.camp_name,
					obj.hcf_name.replace(/(health (post|centre|center)|HC)/gi, 'School'),
				]

				if (['all', 'balanced_scorecard'].includes(this.viewType)) {
					row = row.concat([
						this.faker.finance.amount(5, 100, 1),
						this.faker.finance.amount(1, 20, 1),
						this.faker.finance.amount(5, 50, 0),
						this.faker.finance.amount(0, 10, 0),
						this.faker.finance.amount(0, 10, 0),
						this.faker.finance.amount(10, 500, 0),
						obj.bs_gender_separated,
						obj.bs_survey_date ? `${obj.bs_survey_date} ${this.randomTime()}` : '',
					])
				}

				rows.push(row)
			})

			if (downloadType === 'pdf') {
				const doc = new jsPDF('l', 'mm', this.viewType === 'energy_checklist' ? 'a1' : 'a4') // eslint-disable-line

				doc.autoTable({
					startY: 30,
					head: [header],
					body: rows,
					theme: 'striped',
					headStyles: {
						fillColor: [0, 114, 188],
						textColor: [255, 255, 255]
					},
					margin: { top: 30 },
					didDrawPage: data => {
						doc.text('UNICEF | ', data.settings.margin.left, 22)
						doc.setTextColor(122, 122, 122)
						doc.text('Giga Connect | ', data.settings.margin.left + 26, 22)
						doc.setTextColor(183, 183, 183)
						doc.text(format(new Date(), 'dd MMMM yyyy'), data.settings.margin.left + 66, 22)
					},
					columnStyles: {
						3: {
							halign: 'right',
							minCellWidth: 20,
						},
						4: {
							halign: 'right',
							minCellWidth: 20,
						},
						5: {
							halign: 'right',
							minCellWidth: 20,
						},
						6: {
							halign: 'right',
							minCellWidth: 20,
						},
						7: {
							halign: 'right',
							minCellWidth: 20,
						},
						8: {
							halign: 'right',
							minCellWidth: 20,
						},
					}
				})
				doc.save(filename)
			} else {
				const ws = XLSX.utils.json_to_sheet(rows, { skipHeader: 1 })
				let data = ''

				if (downloadType === 'csv') {
					const excelBuffer = XLSX.utils.sheet_to_csv(ws)
					data = new Blob([Buffer.from(`\ufeff${excelBuffer}`)], { type: 'application/csv;charset=utf-8' })
				} else if (downloadType === 'xlsx') {
					const fileType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=UTF-8'
					const wb = { Sheets: { data: ws }, SheetNames: ['data'] }
					const excelBuffer = XLSX.write(wb, { bookType: 'xlsx', type: 'array' })
					data = new Blob([excelBuffer], { type: fileType })
				}

				saveAs(data, filename)
			}
		},
		isHeader(val) {
			this.showHeader = val
		},
		splitPaneResized() {
			this.$refs.map.mapObject.invalidateSize()
		},
		showMapPopup(row, zoom) {
			this.$refs.map.mapObject.setView(L.latLng([row.lat, row.lon]), zoom)

			// timeout required as animation from setView may not be completed before displaying popup
			if (Object.prototype.hasOwnProperty.call(this.$refs, row.hcf_id)) {
				setTimeout(() => {
					this.$refs[row.hcf_id][0].mapObject.openPopup()
				}, 500)
			}
		},
		showMapCountry(iso3) {
			const country = this.geo.filter(row => row.iso3_code === iso3)

			if (country.length === 1) {
				this.$refs.map.mapObject.closePopup()
				this.showMapPopup(country[0], 6)
			}
		},
		expandCollapseScrollTable() {
			this.isScrollTableExpand = !this.isScrollTableExpand
		},
		randomTime() {
			const hrs = Math.round(Math.random() * 24)
			const mins = Math.round(Math.random() * 60)
			const hFormat = (hrs < 10 ? '0' : '')
			const mFormat = (mins < 10 ? '0' : '')
			const amPm = (hrs < 12 ? '' : '')
			const is12 = (hrs % 12 === 0)

			return amPm === '' && !is12 ? String(hFormat+hrs+ ':'  + mFormat + mins +  ' '  + amPm) // eslint-disable-line
						: '' && is12  ? String(12  +  ':'  + mFormat + mins +  ' '  + amPm) // eslint-disable-line
						: is12 ? String(hFormat + hrs +  ':'  + mFormat + mins +  ' '  + amPm) // eslint-disable-line
						: String(hFormat + (hrs-12) +  ':'  + mFormat + mins +  ' '  + amPm) // eslint-disable-line

		},
	},
	mounted() {
		this.faker = this.$faker()

		Promise.all([
			fetch(`${process.env.VUE_APP_DATA_URL}/result.json`).then(res => (res.ok && res.json()) || Promise.reject(res)),
			fetch(`${process.env.VUE_APP_DATA_URL}/geo.json`).then(res => (res.ok && res.json()) || Promise.reject(res)),
		]).then(([result, geo]) => {
			// set table values
			this.dataOriginal = result
			this.data = result

			// show table and hide spinner
			this.hideTable = false
			this.isLoading = false

			// geo data for countries
			this.geo = geo

			// display map
			this.$nextTick(() => {
				this.$refs.map.mapObject.invalidateSize()
			})
		}).catch(() => {
		})
	}
}
</script>

<style lang="scss">
$body-size: 13px;
$radio-active-background-color: hsl(204, 86%, 53%);

@import "~bulma/";
@import "~buefy/src/scss/buefy";
@import "bulma/sass/utilities/mixins";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

$tooltip-radius: 6px;
$tooltip-background-color: #000;
@import '@creativebulma/bulma-tooltip';

html, body {
	font-family: proxima_nova,lato,sans-serif;
}

#app {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	margin-left: 20px;
	margin-right: 0;

	.hero-body {
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.header {
		$font-size: 14px;

		display: flex;
		align-items: center;

		.filter-by {
			margin-right: 5px;
			font-size: $font-size;
			color: white;
			margin-left: 40px;
		}

		.download {
			font-size: $font-size;
			color: white;
			margin-left: 20px;
		}

		.download-types {
			font-size: $font-size;
			margin-left: 10px;
			color: white;
			text-transform: lowercase;
		}
	}

	.desktop {
		.scrolling-container {
			height: calc(100vh - 75px);
			min-height: 300px;
			width: 100%;

			th {
				font-weight: 400;
				max-width: 150px;
				background-color: #ccc;
				color: #000;

				div.no-header {
					display: block;
					display: -webkit-box;
					max-width: 118px;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				&.balanced {
					background-color: #99c7e4;
					position: relative;

					.section {
						padding: 0;
						position: absolute;
						bottom:0;
						right:0;
						font-size: 10px;
						color: #7a7a7a;
						margin-right: 3px;
						margin-bottom: 3px;
						text-transform: lowercase;
						cursor: pointer;
					}
				}
			}

			td.icon-yes-no {
				text-align: center !important;
				width: 150px;
			}

			table.scrolling td:nth-child(-n+3),
			table.scrolling th:nth-child(-n+3) {
				position: -webkit-sticky;
				position: sticky;
				left:0;
			}

			table.scrolling td, table.scrolling th {
				padding: 6.5px;
			}
		}

		.scrolling-container-no-header {
			height: calc(100vh - 45px);
		}
	}
}

[v-cloak] {
	display: none;
}

// credits tooltip
.tooltip {
	display: block !important;
	z-index: 10000;

	.tooltip-inner {
		background: black;
		color: white;
		border-radius: 16px;
		padding: 5px 10px 4px;
	}

	.tooltip-arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
		border-color: black;
		z-index: 1;
	}

	&[x-placement^="top"] {
		margin-bottom: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^="bottom"] {
		margin-top: 5px;

		.tooltip-arrow {
			border-width: 0 5px 5px 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			top: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^="right"] {
		margin-left: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 5px 0;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
			left: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&[x-placement^="left"] {
		margin-right: 5px;

		.tooltip-arrow {
			border-width: 5px 0 5px 5px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			right: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.popover {
		$color: #f9f9f9;

		.popover-inner {
			background: $color;
			color: black;
			padding: 24px;
			border-radius: 5px;
			box-shadow: 0 5px 30px rgba(black, 0.1);
		}

		.popover-arrow {
			border-color: $color;
		}
	}

	&[aria-hidden="true"] {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.15s, visibility 0.15s;
	}

	&[aria-hidden="false"] {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.15s;
	}
}

// map pane
.map-container {
	height: calc(100vh - 75px);
	width: calc(100% - 15px);

	.health-care-facility-popup {
		table {
			tr {
				td:first-of-type {
					width: 175px;
					white-space: nowrap;
				}

				td:nth-of-type(2) {
					width: 275px;
					text-align: right;
					white-space: nowrap;

					ul {
						list-style-type: disc;
					}
				}
			}
		}
	}

	// hover tooltip for credits / attribution
	.tooltip {
		display:inline-block;
		position:relative;
		border-bottom:1px dotted #666;
		text-align:left;
	}

	.tooltip .left {
		min-width:260px;
		top:-58px;
		right:100%;
		margin-right: -30px;
		transform:translate(0, -50%);
		padding:10px 20px;
		color: #fff;
		background-color: #2B222A;
		font-family: proxima_nova,lato,sans-serif;
		font-size: 12px;
		border-radius:8px;
		position:absolute;
		z-index:99999999;
		box-sizing:border-box;
		box-shadow:0 1px 8px rgba(0,0,0,0.5);
		visibility:hidden;
		opacity:0;
		transition: all 0.5s ease;
	}

	.tooltip:hover .left {
		visibility:visible; opacity:1;
	}

	.tooltip .left i {
		position:absolute;
		top:50%;
		left:100%;
		margin-top:-12px;
		width:12px;
		height:24px;
		overflow:hidden;
	}

	.tooltip .left i::after {
		content:'';
		position:absolute;
		width:12px;
		height:12px;
		left:0;
		top:50%;
		transform:translate(-50%,-50%) rotate(-45deg);
		background-color:#EEEEEE;
		box-shadow:0 1px 8px rgba(0,0,0,0.5);
	}
}

.splitpanes--vertical > .splitpanes__splitter {
	min-width: 25px;
}

.b-tabs .tabs {
	margin-bottom: 0;
}
</style>
